<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.yahiaabdelwahab.ama">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/home"
            android:launchMode="singleInstance">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/search"
            android:launchMode="singleInstance" />
        <activity
            android:name=".QuestionsActivity"
            android:label="@string/questions"
            android:launchMode="singleInstance" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleInstance" />
        <activity
            android:name=".SignInActivity"
            android:label="@string/sign_in"
            android:launchMode="singleInstance" />

        <activity
            android:name=".RegisterOneActivity"
            android:label="@string/register"
            android:launchMode="singleInstance" />
        <activity
            android:name=".RegisterTwoActivity"
            android:label="@string/register"
            android:launchMode="singleInstance" />

        <activity android:name=".UserProfileActivity" />

        <activity android:name=".AnswerQuestionActivity"
            android:label="@string/answer"
            android:launchMode="singleInstance" />
    </application>

</manifest>